<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Travel Dashboard</title>
</head>
<body>
    <div class="container">
    <div class="top-nav">
    <h1>Welcome {{ request.session.greeting }}!</h1>
    <a href="/logout">Logout</a>
    <a href="/addtrip">Add a trip!</a>
    </div>
    <h2>Your trip schedules:</h2>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Description</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Plan</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in user_trips %}
            {% if trip.join == True %}
            <tr>
                <td><a href="/view/{{ trip.id }}">{{ trip.destination }}</a></td>
                <td>{{ trip.start_date }} </td>
                <td>{{ trip.end_date }} </td>
                <td>{{ trip.description }} </td>
                <td><a href="/travels/{{ trip.id }}/delete">Delete</a> |<a href="/travels/{{ trip.id }}/cancel">Cancel</a></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <h2>Other user's travel plans:</h2>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th>Description</th>
                <th>Travel Start Date</th>
                <th>Travel End Date</th>
                <th>Do you want to join?</th>
            </tr>
        </thead>
        <tbody>
            {% for trip in user_trips %}
            {% if trip.join == False %}
            <tr>
                <td>{{ trip.destination }}</td>
                <td>{{ trip.start_date }} </td>
                <td>{{ trip.end_date }} </td>
                </td>
                <td><a href="/travels/{{ trip.id }}/join">Join</a></td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
